<div class="container">
  <div
    class="btn-toolbar row justify-content-center"
    role="toolbar"
    aria-label="Adjust counter toolbar"
  >
    <div class="btn-group" role="group" aria-label="Button group">
      <button type="button" class="btn btn-secondary" (click)="svc.up()">+</button>
      <button type="button" class="btn btn-secondary" (click)="svc.down()">-</button>
    </div>
  </div>

  <div class="btn-toolbar row justify-content-center" role="toolbar" aria-label="Navigate toolbar">
    <button type="button" class="btn btn-primary" routerLink="/part-c/display">View Count</button>
  </div>
</div>
