/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

.btn-toolbar {
  padding-top: 20px;
}

.counter {
  padding: 10px;
  font-size: 20pt;
  font-weight: bold;
}